.Myusers {
    display: grid;
    background-color: white;
    
  }
  
  .Myusers ul {
    list-style: none;
    padding: 1rem;
   
  }
  
  .Myusers li {
    border: 1px solid #ccc;
    margin: 0.5rem 0;
    padding: 0.5rem;
  }
  .Myrealz li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  
