.eventlist11 {
 
  width: 300px;
  height: 160px;
  background-color: #A8C3C9;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  margin-bottom: 30px;
  
}





.eventexitX {
  font-size: 20px;
  
  background-color: darkred;
  color: white;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 290px;
  margin-top: -10px;
  
  
}

.eventfavorite-button {
  background-color: rgb(255, 251, 0);
 
  font-size: 20px;
  width: 200px;
 
  
}



.eventold11 {
  text-align: left;
  margin-left: 30px;
 
  font-size: 18px;
  
  
}

.eventold1 {
  font-size: 25px;
  margin-bottom: 0px;
}



.eventbor1 {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  
  
  width: 290px;
}