.list11 {
 
  width: 200px;
  height: 200px;
  background-color: #A8C3C9;
  border-radius: 50px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  
}





.exitX {
  font-size: 30px;
  
  background-color: darkred;
  color: white;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 200px;
}





.old11 {
  text-align: left;
  margin-left: 30px;
  margin-top: 5px;
  font-size: 20px;
  
  
}

.old1 {
  font-size: 50px;
}



.bor1 {
  margin: 0;
  margin-top: 40px;
  
  
  width: 200px;
}