

.imagez {
    
    width: 80%;
    border-radius: 20px;
    height: 510px !important;
    background-color: orange;
    margin-left: auto;
    margin-right: auto;
    
}

.imagez img {
    height: 510px !important;
    width: 100%;
    border-radius: 20px;
}

.theBody {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.tie {
    display: flex;
}

.tie p {
    margin-top: -5px;
}

.theBody {
    display: flex;
}

.wow {
    width: 50%;
}

.info {
    width: 50%;
    height: 116px;
}

.tie {
    display: flex;
    flex-direction: column;
}

.titlecard p {
    height: 20px;

}

.decriptionz p {
    margin-top: -20px;
    height: 200px;
 
}

.buttonholder {
    
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    
}

.buttonholder button {
    width: 700px;
    height: 50px;
    border-radius: 20px;
    background-color: #7848f4;
    color: white;
    
}

