.Alllist11 {
 
  width: 300px;
  height: 300px;
  background-color: #ffffff;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  
  margin-bottom: 20px;
  border-color: black;
  border: 2px solid black;
  
}

.Allprice {
  background-color: #fffffb;
  width: 40px;
 
  border-radius: 5px;
  position: absolute; 
  top: 10px; 
  left: 10px; 
  height: 25px;
  
 
 
}

.Allprice p {
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  margin-top: 4px;
  margin-bottom: 0;
  color: #7848f4;
}


.AllexitX {
  font-size: 30px;
  
  background-color: darkred;
  color: white;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 300px;
}

.Allfavorite-button {
  background-color: rgb(255, 251, 0);
 
  font-size: 20px;
  width: 300px;
  
  
}

.AlleventTitle {
  display: flex;
  height: 25px;
  width: 240px;
  margin-left: 30px;
  margin-right: 30px;
  color: black;
  font-size: 20px;
}

.AlleventTitle2 {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  height: 25px;
  width: 240px;
  color: #7848f4;
  font-size: 10px;
  margin-top: 10px;
}

.AllEvent-image {
  
  border-radius: 10px;
  width: 260px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
}

.Allimgcontainer {
  margin-top: 15px;
  width: 260px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}


.Allold11 {
  text-align: left;
  
  margin: 0;
  margin-right: 5px;

  
  
  
}

.Allold1 {
  font-size: 50px;
}



.Allbor1 {
  margin: 0;

  
  
  width: 300px;
}

.Allold11s {
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 15px;
  margin-top: -10px;
  color: rgb(107, 95, 95);
  height: 25px;
  width: 240px;
  margin-bottom: 0;
}

.AllpurchaseButton {
  background-color: #7848f4;
  border-radius: 20px;
  color: white;
}