body {
    background-color: #f8f8fa;
    filter: brightness(100%);
    color: black;
    margin: 0;
    font-family: Arial, sans-serif;
}

.Mypager {
    display: flex;
    flex-direction: column;
    background-color: #a382ea;
    margin: 1% auto;
    width: 80%;
    border-radius: 25px;
    padding: 20px;
    height: 468px;
}

.Mymiddlez {
    background-color: #a382ea;
    text-align: center;
    border-radius: 25px;
    padding: 20px;
    margin-top: 0px !important;

}

.Mymiddle11 {
    background-color: #ccccfe;
    width: 100%;
    height: 70px;
    border-radius: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Mymiddle33 {
    background-color: #ccccfe;
    width: 100%;
    border-radius: 15px;
    height: 340px !important;
    text-align: center;
}

.Myrealz {
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    background-color: none !important;
    
 
}

.Myformz {
    background-color: #ccccfe;
    
}

.Myusers-list-container {
    overflow-y: auto;
    max-height: 340px !important;
 
    transition: max-height 0.3s ease-in-out;
    background-color: none ;
}

.Myusers-list-container.expanded {
    max-height: 400px;
}

.Mybordss {
    display: flex;
    justify-content: center;
}

.Mybords11 {
    font-size: 20px;
    color: black;
}

.Mybords22 {
    width: 160px;
    border-radius: 15px;
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.Mybords22:hover {
    background-color: #333;
}
