
.OGhero {
    position: relative;
    text-align: center;
    background-color: #f8f8fa;
  }
  
  .OGhero-image {
    width: 1800px;
    height: 800px;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 10px;
  }
  
  .OGsearch-bar {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    background-color: #0f107a;
    padding: 10px 20px;
    border-radius: 5px;
    width: 1500px;
    height: 100px;
    
    
  }
  
  .OGsearch-bar input {
    height: 40px;
    border-radius: 10px;
    margin-top: 0px;
    margin-left: 20px;
    width: 400px;
    border: 0;
    background-color: #f0f1f5;
  }

 

  .OGsearch-bar button{
    height: 80px;
    border-radius: 10px;
    margin-top: 15px;
    width: 80px;
    background-color: #7848f4;
    margin-left: 20px;
  }

  .OGsearch-bar img {
    width: 30px;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-top: px;
    
  }

  .OGheroholder {
    margin-left: auto;
    display: flex;
    margin-right: auto;
  }

  .OGselecter {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 15px;
    
  }

  .OGselecter2 {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 15px;
    
  }

  .OGselecter label {
    text-align: left;
    margin-left: 25px;
    
  }

  .OGselecter2 label {
    text-align: left;
    margin-left: 5px;
    
  }

  .OGselecter2 input {
    margin-left: 0px;
  }


  